<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
<head>
<title>{{ flatpage.title }}</title>
  <link href="{% static 'css/styles.css'%}" rel="stylesheet" />
</head>
<body style="background-color: #F1E0E8; font-size: 25px; font-family:Cuprum; color:#9D121E;">
<h1>Стихи Александра Маяковского</h1>
<img src="https://i.pinimg.com/originals/62/56/9a/62569af9dfd7480a2798fda098f74c45.jpg" /><br /><br />
<details>
  <summary><b>О дряни</b></summary>
  <pre> Слава, Слава, Слава героям!!!

Впрочем,
им
довольно воздали дани.
Теперь
поговорим
о дряни.

Утихомирились бури революционных лон.
Подернулась тиной советская мешанина.
И вылезло
из-за спины РСФСР
мурло
мещанина.

(Меня не поймаете на слове,
я вовсе не против мещанского сословия.
Мещанам
без различия классов и сословий
мое славословие.)

Со всех необъятных российских нив,
с первого дня советского рождения
стеклись они,
наскоро оперенья переменив,
и засели во все учреждения.

Намозолив от пятилетнего сидения зады,
крепкие, как умывальники,
живут и поныне
тише воды.
Свили уютные кабинеты и спаленки.

И вечером
та или иная мразь,
на жену,
за пианином обучающуюся, глядя,
говорит,
от самовара разморясь:
&laquo;Товарищ Надя!

К празднику прибавка &ndash;
24 тыщи.
Тариф.
Эх,
и заведу я себе
тихоокеанские галифища,
чтоб из штанов
выглядывать,
как коралловый риф!&raquo;
А Надя:
&laquo;И мне с эмблемами платья.
Без серпа и молота не покажешься в свете!
В чем
сегодня
буду фигурять я
на балу в Реввоенсовете?!&raquo;
На стенке Маркс.
Рамочка ала.
На &laquo;Известиях&raquo; лежа, котенок греется.
А из-под потолочка
верещала
оголтелая канареица.

Маркс со стенки смотрел, смотрел...
И вдруг
разинул рот,
да как заорет:
&laquo;Опутали революцию обывательщины нити.
Страшнее Врангеля обывательский быт.
Скорее
головы канарейкам сверните &ndash;
чтоб коммунизм
канарейками не был побит!&raquo;<br>

    1920-1921
</pre>
</details>
<details>
  <summary> <b>А вы смогли бы?</b></summary>
<pre>Я сразу смазал карту будня,
плеснувши краску из стакана;
я показал на блюде студня
косые скулы океана.
На чешуе жестяной рыбы
прочел я зовы новых губ.
А вы
ноктюрн сыграть
могли бы
на флейте водосточных труб?
  1913
</pre>
</details>
<details>
  <summary><b>Послушайте!</b></summary>
  <pre>
  Послушайте!
Ведь, если звезды зажигают –
значит – это кому-нибудь нужно?
Значит – кто-то хочет, чтобы они были?
Значит – кто-то называет эти плевочки жемчужиной?
И, надрываясь
в метелях полуденной пыли,
врывается к Богу,
боится, что опоздал,
плачет,
целует ему жилистую руку,
просит –
чтоб обязательно была звезда! –
клянется –
не перенесет эту беззвездную муку!
А после
ходит тревожный,
но спокойный наружно.
Говорит кому-то:
«Ведь теперь тебе ничего?
Не страшно?
Да?!»
Послушайте!
Ведь, если звезды
зажигают –
значит – это кому-нибудь нужно?
Значит – это необходимо,
чтобы каждый вечер
над крышами
загоралась хоть одна звезда?!

1914
  </pre>
</details>
<details>
  <summary><b>О советском паспорте</b></summary>
  <pre> <iframe src="//www.youtube.com/embed/hLrQTsaEef0" width="720" height="404" allowfullscreen="allowfullscreen" ></iframe>

По длинному фронту
           купе
              и кают
чиновник
     учтивый движется.
Сдают паспорта,
        и я
          сдаю
мою
  пурпурную книжицу.
К одним паспортам —
           улыбка у рта.
К другим —
      отношение плевое.
С почтеньем
      берут, например,
              паспорта
с двухспальным
        английским левою.
Глазами
    доброго дядю выев,
не переставая
       кланяться,
берут,
   как будто берут чаевые,
паспорт
    американца.
На польский —
        глядят,
            как в афишу коза.
На польский —
        выпяливают глаза
в тугой
    полицейской слоновости —
откуда, мол,
      и что это за
географические новости?
И не повернув
       головы кочан
и чувств
     никаких
          не изведав,
берут,
   не моргнув,
         паспорта датчан
и разных
     прочих
         шведов.
И вдруг,
    как будто
         ожогом,
             рот
скривило
     господину.
Это
  господин чиновник
            берет
мою
  краснокожую паспортину.
Берет —
    как бомбу,
         берет —
             как ежа,
как бритву
      обоюдоострую,
берет,
   как гремучую
          в 20 жал
змею
   двухметроворостую.
Моргнул
     многозначаще
            глаз носильщика,
хоть вещи
     снесет задаром вам.
Жандарм
     вопросительно
             смотрит на сыщика,
сыщик
    на жандарма.
С каким наслажденьем
            жандармской кастой
я был бы
    исхлестан и распят
за то,
   что в руках у меня
            молоткастый,
серпастый
     советский паспорт.
Я волком бы
       выгрыз
          бюрократизм.
К мандатам
      почтения нету.
К любым
     чертям с матерями
               катись
любая бумажка.
        Но эту…
Я
 достаю
     из широких штанин
дубликатом
      бесценного груза.
Читайте,
     завидуйте,
           я —
             гражданин
Советского Союза.

1929 г.
  </pre>
</details>

</body>
</html>