<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<head>
<title>{{ flatpage.title }}</title>
</head>
<body style="background-color: #F1E0E8; font-size: 25px; font-family:Cuprum; color:#9D121E;">
<h1>Стихи Александра Маяковского</h1>
<img src="https://www.funnyart.club/uploads/posts/2023-09/1695067433_funnyart-club-p-risunki-mayakovskogo-foto-17.jpg" /><br /><br />
<details>
  <summary><b>"Вы любите розы?"</b></summary>
  <pre style="font-family:Brush Script; color:#9D121E; font-size: 25"> Вы любите розы?
а я на них срал!
стране нужны паровозы,
нам нужен металл!
товарищ!
не охай,
не ахай!
не дёргай узду!
коль выполнил план,
посылай всех
в <b>пизду</b>
не выполнил —
сам
иди
на
<b>хуй</b>.
</pre>
</details>
<details>
  <summary> <b>"Вам"</b></summary>
<pre style="font-family:Cuprum; color:#9D121E; font-size: 25">Вам, проживающим за оргией оргию,
имеющим ванную и теплый клозет!
Как вам не стыдно о представленных к Георгию
вычитывать из столбцов газет?

Знаете ли вы, бездарные, многие,
думающие нажраться лучше как,-
может быть, сейчас бомбой ноги
выдрало у Петрова поручика?..

Если он приведенный на убой,
вдруг увидел, израненный,
как вы измазанной в котлете губой
похотливо напеваете Северянина!

Вам ли, любящим баб да блюда,
жизнь отдавать в угоду?!
Я лучше в баре блядям буду
подавать ананасную воду!
</pre>
</details>
<details>
  <summary><b>Гимн онанистов</b></summary>
  <pre>
Мы,
онанисты,
ребята
плечисты!
Нас
не заманишь
титькой мясистой!
Не
совратишь нас
пиздовою
плевой!
Кончил
правой,
работай левой!!!
  </pre>
</details>
<details>
  <summary><b>Лежу на чужой жене</b></summary>
  <pre>
Лежу
на чужой
жене,
потолок
прилипает
к жопе,
но мы не ропщем —
делаем коммунистов,
назло
буржуазной
Европе!
Пусть хуй
мой
как мачта
топорщится!
Мне все равно,
кто подо мной —
жена министра
или уборщица!
  </pre>
</details>

</body>
</html>