<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
<head>
<title>{{ flatpage.title }}</title>
</head>
<body style="background-color: #F1E0E8; font-size: 25px; font-family:Cuprum; color:#9D121E;">
<h1>Стихи Дмитрия Сергеевича Меряжковского</h1>
<img src="https://cdnn1.inosmi.ru/img/24727/15/247271524_0:0:0:0_1240x0_80_0_0_b157c36f858fe930e9596bd280358582.jpg" /><br /><br />
<details>
  <summary><b>"...Он сидел на гранитной скале"</b></summary>
  <pre style="font-family:Brush Script; color:#9D121E; font-size: 25"> ...Он сидел на гранитной скале;
За плечами поникли два темных крыла.
А внизу между тем на далекой земле
Расстилалась вечерняя мгла,
И как робкие звезды в прозрачной тени,
В городах в этот час зажигались огни.
И сидел он и думал: «Как счастливы те,
Кто для сна в этот миг могут очи сомкнуть!
Только мне одному никогда не уснуть:
Повелитель миров на немой высоте
С безграничною властью моей, –
Я завидую участи жалких людей,
Я завидую тем, кто ничтожен и слаб,
Кто жестокому небу послушен, как раб,
Кто над грудами золота жадно поник,
Кто безумно ликует над жертвой в крови,
Кто в объятьях блудницы забылся на миг,
Кто вином опьянен, кто отдался любви, –
Только б чем-нибудь скорбные думы унять,
Только б мертвую скуку в груди заглушив,
Охватил бы всю душу могучий порыв,
Только б боль от сознанья могла перестать:
Эта боль хуже всех человеческих мук!
Исчезают миры, пролетают века,
Но сознанье мое – заколдованный круг,
Но темница моя – роковая тоска!
Я могу потушить миллионы планет, –
Но лишь сердца в груди я убить не могу:
От него в целом мире спасения нет,
От него я напрасно бегу.
Вечно все до последнего атома знать –
Формы, звуки, движенья, цвета –
Знать, какой вопиющий обман красота
И что кроме обмана нам нечего ждать,
Что за ним – пустота!..
И нельзя умереть, позабыться, уйти,
Ни забвенья, ни мира нигде не найти!
Смерти, смерти!»...
И в грозный, далекий предел,
Где лишь хаос царит, где кончается мир,
Сквозь мерцающий синий эфир
Он, как черная туча, стремглав полетел.
Но напрасно руками он очи закрыл
И роптал, и метался, – забвения нет:
Ураган метеоров и звезд, и планет,
И над грудами груды светил
Выступают во мгле, издеваясь над ним;
И страдающий Дух, жаждой смерти томим,
Будет вечно стремиться вперед,
Но покоя нигде, никогда не найдет.

1885
</pre>
</details>
<details>
  <summary> <b>"В борьбе на жизнь и смерть не сдамся я врагу..."</b></summary>
<pre style="font-family:Cuprum; color:#9D121E; font-size: 25">В борьбе на жизнь и смерть не сдамся я врагу!
Тебе, наш рок-палач, ни одного стенанья
И ни одной слезы простить я не могу
За все величье мирозданья.

Нет! капля первая всей крови пролитой
Навек лицо земли позором осквернила –
И каждый василек на ниве золотой
И в небе каждый луч светила!

К чему мне пурпур роз и трели соловья,
И тишина ночей с их девственною лаской?..
Ужель ты прячешься, природа, от меня
Под обольстительною маской?

Ужель бесчувственна, мертва и холодна,
Ты лентой радуги и бархатной листвою,
Ты бриллиантами созвездий убрана
И нарумянена зарею,

Чтоб обмануть меня, нарядом ослепить
И скрыть чудовищность неправды вопиющей,
Чтоб убаюкать мысль и сердце покорить
Красой улыбки всемогущей,

Чтоб стал я вновь рабом, смирясь и позабыв
Все язвы нищеты, все ужасы разврата
И негодующий и мстительный порыв
За брата, гибнущего брата!..

Декабрь 1883

</pre>
</details>
<details>
  <summary><b>"Весеннее чувство"</b></summary>
  <pre>
С улыбкою бесстрастия
Ты жизнь благослови:
Не нужно нам для счастия
Ни славы, ни любви,

Но почки благовонные
Нужны, – и небеса,
И дымкой опушенные
Прозрачные леса.

И пусть все будет молодо,
И зыбь волны, порой,
Как трепетное золото,
Сверкает чешуей.

Как в детстве, все невиданным
Покажется тогда
И снова неожиданным –
И небо, и вода,

Над первыми цветочками
Жужжанье первых пчел,
И с клейкими листочками
Березы тонкий ствол.

С младенчества любезное,
Нам дорого – пойми –
Одно лишь бесполезное,
Забытое людьми.

Вся мудрость в том, чтоб радостно
Во славу Богу петь.
Равно да будет сладостно
И жить, и умереть.
  </pre>
</details>
<details>
  <summary><b>«Герой, певец, отрадны ваши слезы...»</b></summary>
  <pre>
Герой, певец, отрадны ваши слезы,
И ваша скорбь завидна, мудрецы:
Нетленный лавр, невянущие розы
Вам обовьют терновые венцы.
Светло горит звезда высокой цели;
Вам есть за что бороться и страдать,
И обо всем, что втайне вы терпели,
Должны века векам пересказать:
То выразят пленительные звуки
Певучих струн, иль славные дела.
Все назовут святыми ваши муки,
И загремит им вечная хвала.

Но там, в толпе, страдальцы есть иные,
Там скорби есть, терзающие грудь,
Безмолвные, как плиты гробовые,
Что не дают подняться и вздохнуть.
И много их, героев неизвестных,
Непризнанных, но твердых до конца,
Что не щадят в борьбе усилий честных
И падают, не требуя венца.
Их не смутит ни злоба, ни проклятья,
Они идут, как мученики шли
На смерть и казнь... Припомним же их, братья,
И руку к ним для крепкого пожатья,
Хотя на миг, протянем издали!

1883
  </pre>
</details>

</body>
</html>